.chart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
